.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/***************************************************/
table {
	border: 1px solid black;
	margin: 5px auto;
	border-spacing: 0;
}

thead {
	background-color: #c0c0c0;
}

.borderBot {
	border-bottom: 1px solid black;
}

td {
	border-top: 1px solid black;
	padding: 5px;
	text-transform: capitalize;
}
.borderRight {
	border-right: 1px solid black;
}
/* .transRow:hover { */
tbody > tr:hover {
	background-color: #e2e2e2;
	/* cursor: pointer; */
}

.navMenu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2px;

	margin-bottom: 5px;
	height: 40px;
	width: 100vw;

	list-style: none;
	background-color: #e0e0e0;
}
.navItems {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100%;
	width: 100%;
	border-bottom: 2px solid transparent;
	color: #dd3232;
}
.navItems:hover {
	background-color: #a5b6c6;
	border-bottom: 2px solid #dd3232;
}
.active {
	background-color: #d6d4d4;
	color: #dd3232;
	border-bottom: 2px solid #dd3232;
}
